/* reset */
a{
    color: inherit;
    text-decoration: none;
}

/* layout */
.wrapper {
    font-size: 18px;
    background: rgb(209, 209, 209);
    height: 100vh;

    position: relative;
}

section.main {
    width: 40%;
    background: #fff;
    border-radius: 10px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
}

section.main .main-title {
    padding: 30px 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background: #4e5aff;
}
section.main .cardwrapper {
    padding: 50px 20px;
}
section.main .cardwrapper h2 {
    font-size: 22px;
    text-align: center;
}
section.main .cardwrapper h2 em{
    font-size: 1.2em;
    font-weight: 700;
    color: #4e5aff;
}
#card-container {
    width: 70%;
    /* height: 400px; */
    border: 1px solid rgb(99, 99, 99);
    border-radius: 10px;
    padding: 30px 50px;
    /* overflow: auto; */
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 20px;
}   

/* 카드 뒤집었을때(앞면) 모습 */
#card-container .card {
    width: 80px;
    height: 100px;
    margin: 0 auto;
    perspective: 500px;
/*     
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; */
}
#card-container .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* toggle: flip시 효과 */
#card-container .card.flip .card-inner {
    transform: rotateY(180deg);
}

#card-container .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-sizing: border-box;

    /* backface: hidden - 뒷면 안보이게, visible-뒷면 모습 비치게(거울모드) */
    backface-visibility: hidden;
}
#card-container .card-back {
    transform: rotateY(180deg);
}

/* 카드 뒤집혀있을 때 모습 */
/* #cards .card-closed {
    width: 80px;
    height: 100px;
    border-radius: 10%;
    font-size: 32px;
    font-weight: 700;
    color: gray;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */


.buttons {
    position: absolute;
    top: 50%;
    right: 20%;
    
    transform: translate(0%, -50%);
}
.buttons div {
    width: 150px;
    height: 100px;
    border-radius: 10%;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: rgb(117, 117, 117);  
}