/* reset */
a{
    color: inherit;
    text-decoration: none;
}

/* layout */
.wrapper {
    font-size: 18px;
    background: #14113a;
    height: 100vh;

    position: relative;
    /* z-index: -1000; */
}
/* .level {
    width: 40%;
    background: skyblue;
    border-radius: 10px;
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    justify-content: center;
    flex-direction:r ;
}
.level .leveltext {
    padding: 50px 20px 10px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    
    color: #14113a;
    position: relative;
}
.level div {
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.level .lvbutton {
    position: relative;
    width: 100px;
    height: 100px;
    
    border-radius: 10%;
    font-size: 22px;
    font-weight: 700;
    color: #14113a;
    
    padding: 30px ;
    
    margin: 50px 30px;
    background: #ffffff; 
} */
section.main {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
/* 
    overflow: hidden; */
    z-index: 500;
}

section.main .main-title {
    padding: 50px 20px 10px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    /* background: #1a1d53; */
    color: #14113a;
}

section.main .cardwrapper h2 {
    font-size: 22px;
    text-align: center;
}
section.main .cardwrapper h2 em{
    font-size: 1.2em;
    font-weight: 700;
    color: #1a1d53;
}
#card-container {
    width: 70%;
    /* height: 400px; */
    border-radius: 10px;
    padding: 30px 50px;
    /* overflow: auto; */
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 20px;
}   

/* 카드 뒤집었을때(앞면) 모습 */
#card-container .card {
    width: 100px;
    height: 140px;
    margin: 0 auto;
    perspective: 500px;
/*     
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; */
}
#card-container .card:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#card-container .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* toggle: flip시 효과 */
#card-container .card.flip .card-inner {
    transform: rotateY(180deg);
}

#card-container .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-sizing: border-box;

    /* backface: hidden - 뒷면 안보이게, visible-뒷면 모습 비치게(거울모드) */
    backface-visibility: hidden;
}
#card-container .card-back {
    transform: rotateY(180deg);
}

/* 카드 뒤집혀있을 때 모습 */
/* #cards .card-closed {
    width: 80px;
    height: 100px;
    border-radius: 10%;
    font-size: 32px;
    font-weight: 700;
    color: gray;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */


.buttons {
    position: absolute;
    top: 45%;
    right: 18%;
    
    transform: translate(0%, -50%);
    z-index: 100;
}
.buttons div {
    width: 150px;
    height: 100px;
    
    border-radius: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: #3b5f88;  

}
.buttons #hint:hover {
    transform: translate(10%);
    background: skyblue;
}
.buttons #view:hover {
    transform: translate(10%);
    background: rgb(120, 184, 243);
}
.buttons #replay:hover {
    transform: translate(10%);
    background: rgb(98, 155, 241);
}